.custom__link-right {
  &:hover {
    background-color: #fff !important;
    color: blue !important;
  }
}

.custom__border-aside-r {
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgba(236, 236, 236, 0.5);
  border-left: none;
}

#aside__right {
  .card {
    border: 1px solid rgba(236, 236, 236, 0.9);
    h4 {
      font-size: 0.9rem;
      font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
        monospace;
    }
  }
}
