aside{
    .list-group-item:hover {
       background-color: rgb(234, 242, 254);
        color: rgb(24, 74, 191);
        text-decoration: underline;
      }

    }

    .list-group-flush>.list-group-item {
        border-width: 0;
        border-radius: 10px;
    
    }

    span{
        a:hover{
            background-color: rgb(234, 242, 254);
            border-radius: 5px;
            
            
        }
      }

      .socialNetwork-icon{
        color: rgb(64 64 64);

      }

      .socialNetwork-icon:hover {
        color: #4e57ef!important;
        
      }
      